{#
/**
 * @file
 * In Pictures Custom Block.
 */
#}

<ul id="in-pictures" class="nav nav-pills">
  <li id="in-pictures-list">
    <a href="javascript:void(0)" class="btn btn-default">{{ list }}</a>
  </li>
  <li id="in-pictures-slider">
    <a href="javascript:void(0)" class="btn btn-default">{{ slider }}</a>
  </li>
</ul>
